.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__card {
  background: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  transition: 200ms ease-in;
}

.experience__card:hover { 
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__card h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
  font-size: 1.2rem;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.experience__details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.experience__details-icon {
  color: var(--color-primary);
  font-size: 1rem;
}

/* Medium devices */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__card {
    width: 80%;
    margin: 0 auto;
  }
}

/* Small devices */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__card {
    width: 100%;
  }
  .experience__content {
    grid-template-columns: 1fr;
  }
}
